.banner_header {
    width: 100vw;
    height: 450px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    overflow: hidden;
}

.banner_contents {
    padding: 140px 0 0;
    margin-left: 30px;
    height: 370px;
}

.banner_buttons {
    display: flex;
    margin-block: 10px 20px;
}

.banner_button {
    width: 120px;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    outline: none;
    box-shadow: 15px 18px 10px -10px black;
    margin-right: 10px;
    cursor: pointer;
    transition: 500ms background-color , color;
    font-weight: 500;
}

.banner_button:hover {
    background-color: rgba(0,0,0,0.2);
    color: white;
}

h1 ,h4 {
    color: white;
}

h1 {
    font-weight: bold;
    margin-bottom: 20px;
}

h4 {
    width: 600px;
    font-size: .8rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-wrap: break-word;
}

@media (max-width: 768px) {
    h4 {
        width: 400px;
    }
}

.banner_fadeBottom {
    height: 80px;
    background: linear-gradient(transparent , rgba(37,37,37,0.61) , #111);
}

.close_btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 0;
    font-weight: 500;
    color: transparent;
    letter-spacing: 50px;
    height: 50px;
    background-color: black;
    box-shadow: -10px -15px 10px -8px black;
    border-radius: 20px;
    transition: 500ms ease background-color;
    cursor: pointer;
    animation: closeBtn ease 1s forwards;
}

.close_btn:hover {
    background-color: crimson;
}

@keyframes closeBtn {
    to {
        width: 100%;
        color: white;
        letter-spacing: normal;
    }
}