.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    padding: 5px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: ease 500ms background-color;
    z-index: 1000;
}

.nav_black {
    background-color: #111;
}

.logo {
    position: fixed;
    left: 20px;
    width: 80px;
    object-fit: contain;
}