.row {
    padding-inline: 10px;
    color: white;
}

.row_posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    padding-block: 20px;
}

@keyframes posterAnm {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.row_posters::-webkit-scrollbar {
    display: none;
}

.row_poster {
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    transition: 450ms transform , opacity , box-shadow;
    margin-right: 10px;
    animation: posterAnm 500ms ease; /* when page have loaded for doing images' displaying smoothly  */
    box-shadow: 15px 18px 10px -10px black;
    border-radius: 5px;
    cursor: pointer;
}

.row_poster:hover {
    transform: perspective(800px) translateZ(100px); /* or instead of perspective and translateZ scale() can be used here  */
    box-shadow: 15px 18px 10px -9px black ;
}

.row_posterLarge {
    max-height: 250px;
}

.row_posterLarge:hover {
    transform: scale(1.1);
}

.trailer {
    animation: trailer 1s ease forwards;
}

@keyframes trailer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}